
/* .widget-16-img{
    background-size: contain;
    background-position: center center;
object-fit: cover;
} */
/* /* .widget16-img1{ */
    /* .widget16-img1{
    background-image:url("./assets/images/image-9.jpg");
    height: 200px;
    background-size: cover;
}  */
